{% extends 'base.html' %}
{% load static %}
{% block title %}Report{% endblock %}
{% block content %}
<link href="{% static 'css/transaksi.css' %}" rel="stylesheet"></link>

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1>REPORT LISTS</h1>
            <br>

                <table id ="dtBasic" class="table text-center table-hover ">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Nomor</th>
                            <th scope="col">ID Laporan</th>
                            <th scope="col">Tanggal Pinjam</th>
                            <th scope="col">Anggota</th>
                            <th scope="col">Denda</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>

                        <tbody>
                          {% for i in laporan %}
                            <tr>
                              <th scope="row" class="counterCell"></th>
                              <td>{{i.1}}</td>
                              <td>{{i.3}}</td>
                              <td>{{i.2}}-{{i.0}}</td>
                              <td>{{i.5}}</td>
                              <td>{{i.4}}</td>
                            </tr>
                           {% endfor %}
                        </tbody>

                </table>
        </div>
    </div>
</div>
{% endblock %}