{% extends 'base.html' %}
{% load static %}
{% block title %}Transaction{% endblock %}
{% block content %}
<link href="{% static 'css/transaksi.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1>RENTING HISTORY</h1>
            <br>
                <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Nomor</th>
                          <th scope="col">Sepeda</th>
                          <th scope="col">Stasiun</th>
                          <th scope="col">Waktu Pinjam</th>
                          <th scope="col">Waktu Kembali</th>
                          <th scope="col">Biaya</th>
                          <th scope="col">Denda</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>11244-BMX</td>
                          <td>637-StasiunX</td>
                          <td>23/05/2019</td>                          
                          <td>23/05/2019</td>
                          <td>Rp 120000</td>
                          <td>Rp 0</td>
                          <td>
                              <a class="btn btn-default" href="/transaksi/riwayat" style = 'background-color: #DCDCDC'>
                                  <i class="fa"></i> Returned
                              </a>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>11244-BMX</td>
                          <td>637-StasiunX</td>
                          <td>23/05/2019</td>                          
                          <td>23/05/2019</td>
                          <td>Rp 120000</td>
                          <td>Rp 0</td>
                          <td>
                              <a class="btn btn-success" href="/transaksi/riwayat">
                                  <i class="fa"></i> Returned
                              </a>
                          </td>
                        </tr>
                      </tbody>
                </table>       
        </div>
    </div>
</div>
{% endblock %}
