{% extends 'base.html' %}
{% load static %}
{% block title %}Top-Up{% endblock %}
{% block content %}
<link href="{% static 'css/topup.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container">
    
      
        <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Rent</h5>
                    <form style="text-align:center">
                   
        
                    <div class="form-label-group">
                        <input type="text" id="inputNominal" class="form-control" placeholder="Sepeda stasiun" required autofocus>
                    
                    </div>
        
                    <br>
                    <div class="text-center">
                        <a href="/transaksi/riwayatRent/">Submit</a>
                    </div>

                    </form>
                </div>
                
    
</div>
{% endblock %}
