{% extends 'base.html' %}
{% load static %}
{% block title %}Top-Up{% endblock %}
{% block content %}
<link href="{% static 'css/topup.css' %}" rel="stylesheet"></link>

<div class="container">
	    {% if messages %}
        {% for message in messages %}
        
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="w3-text-red">{{ message }}</div>
        </div>
      
        {% endfor %}
        {% endif %}

        <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">TOP-UP PAYMENT</h5>
                    <form style="text-align:center" action="/transaksi/post-topup/" method="POST">
                        {% csrf_token %}
                     <div class="form-label-group">
                        <input type="number" min='0' name="topup" id="inputNominal" class="form-control" placeholder="Nominal" required>
                    </div>
                    <br>
                        <button class="btn-primary text-uppercase" >Submit</button>
                        <hr class="my-4">
                    </form>
                </div>  
</div>
{% endblock %}
