{% extends 'base.html' %}
{% load static %}
{% block title %}Transaction{% endblock %}
{% block content %}
<link href="{% static 'css/transaksi.css' %}" rel="stylesheet"></link>

<div class="container">
        {% if messages %}
        {% for message in messages %}
        
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="w3-text-red">{{ message }}</div>
        </div>
      
        {% endfor %}
        {% endif %}

    <div class="card border-0 shadow my-5">
	 <br><br>
        <div class="card-body p-5">
            <h1>TRANSACTION HISTORY</h1>
            <br>
                <table id ="dtBasic" class="table text-center table-hover ">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Nomor</th>
                            <th scope="col">Tanggal Transaksi</th>
                            <th scope="col">Jenis Transaksi</th>
                            <th scope="col">Nominal Transaksi</th>
                          </tr>
                        </thead>

                        <tbody>
                          {% for i in transaksi %}
                          <tr>
                            <th scope="row" class="counterCell"></th>
                            <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                            <td>{{i.2}}</td>
                          </tr>
                         {% endfor %}
                        </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock %}