{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet"></link>
<div class="container-fluid">

    {% if messages %}
    {% for message in messages %}

    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="w3-text-red">{{ message }}</div>
    </div>

  {% endfor %}
  {% endif %}

    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Registration</h3>
                
                <form action="/registrasi/post-signup/anggota/" method="POST">
                  {% csrf_token %}

                    <div class="form-label-group">
                        <input name="ktp" type="text" id="inputKTP" class="form-control" placeholder="No KTP" required>
                        <label for="inputKTP">ID Number</label>
                    </div>

                    <div class="form-label-group">
                            <input name="nama" type="text" id="inputNama" class="form-control" placeholder="Nama Lengkap" required>
                            <label for="inputNama">Full Name</label>
                        </div>

                    <div class="form-label-group">
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            <label for="inputEmail">Email</label>
                    </div>
        
                    <div class="form-label-group">
                            <input type="text" name="hp" id="inputHP" class="form-control" placeholder="No HP" required>
                            <label for="inputHP">Telephone Number</label>
                    </div>

                    <div class="form-label-group">
                            <input type="date" name="tanggal" id="inputTgl" class="form-control" placeholder="Tanggal Lahir" required>
                            <label for="inputTgl">Birth Date</label>
                    </div>

                    <div class="form-label-group">
                            <input type="text" name="alamat" id="inputAlamat" class="form-control" placeholder="Alamat" required>
                            <label for="inputAlamat">Address</label>
                    </div>
                  <button class="btn-primary btn-block btn-login text-uppercase" type="submit">Sign Up</button>
                
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
