{% extends 'base.html' %}
{% load static %}
{% block title %}Add Event{% endblock %}
{% block content %}
<link href="{% static 'css/addEvent.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Event</h3>
                
                <form method="post" id="formEvent">
                    <div class="form-label-group">
                      <input type="text" id="inputJudul" class="form-control" placeholder="Judul Acara" required autofocus>
                      <label for="inputJudul">Judul</label>
                    </div>
                    <div class="form-label-group">
                      <textarea class="form-control" rows="3" id="inputDeskripsi" placeholder="Deskripsi Acara"></textarea>
                    </div>
                    <div class="form-label-group">
                      <select class="form-control custom-select" id="inputGratis" required>
                        <option selected disabled>Apakah acara ini gratis?</option>
                        <option value="Iya">Iya</option>
                        <option value="Tidak">Tidak</option>
                      </select>
                    </div>
                    <div class="form-label-group">
                      <input type="date" id="inputTanggalMulai" class="form-control" placeholder="Tanggal Mulai" required>
                      <label for="inputTanggalMulai">Tanggal Mulai</label>
                    </div>
                    <div class="form-label-group">
                      <input type="date" id="inputTanggalSelesai" class="form-control" placeholder="Tanggal Selesai" required>
                      <label for="inputTanggalSelesai">Tanggal Selesai</label>
                    </div>
                    <div class="form-label-group">
                      <p>Pilih Stasiun (Bisa multiselect)</p>
                      <select class="form-control" multiple required id="inputStasiun">
                          
                      </select>
                      <p><i>*Silahkan tekan CTRL untuk memilih beberapa opsi</i></p>
                      <br>
                    </div>          
                                   
                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" href="/penugasan/result/" type="submit">Submit</button>                     
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/add-event.js' %}"></script>
{% endblock %}
