{% extends 'base.html' %}
{% load static %}
{% block title %}Event Result{% endblock %}
{% block content %}
<link href="{% static 'css/resultEvent.css' %}" rel="stylesheet"></link>

<div class="container">
    <div class="card border-0 shadow my-5 p-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <h1>LIST OF EVENTS</h1> 
                </div>
                <div class="col-sm-3">
                    <input class="form-control" id="filterEvent" type="text" placeholder="Cari..">
                    <br>
                </div>
                <br>
                <div class="col-sm-3">
                    <form id="formSortingEvent" method="post">
                        <select class="form-control" id="sortingEvent">
                            <option selected disabled>Pilih urutan</option>
                            <option value="ascending">Nama Acara (A-Z)</option>
                            <option value="descending">Nama Acara (Z-A)</option>
                        </select>
                    </form>
                </div>
                <br>
            </div>

            <div class="table-responsive"> 
              <table class="table">
                <thead class="thead-dark text-center">
                  <tr>
                    <th>No</th>
                    <th>Judul</th>
                    <th>Deskripsi</th>
                    <th>Tanggal Mulai</th>
                    <th>Tanggal Selesai</th>
                    <th>Is Free</th>
                    <th>Update</th> 
                    <th>Delete</th>
                  </tr>
                </thead>

                <tbody id="dataEvent">

                <tbody>
              </table>
                <div id="loader" class="text-center">
                    <img class="mx-auto d-block" src="{% static 'img/loading.gif' %}">   
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/event-result.js' %}"></script>
{% endblock %}
