{% extends 'base.html' %}
{% load static %}
{% block title %}Add Station{% endblock %}
{% block content %}
<link href="{% static 'css/addBike.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Bike</h3>
                
                <form>
                    <div class="form-label-group">
                        <input type="text" id="inputMerk" class="form-control" placeholder="Nama Voucher" required autofocus>
                        <label for="inputMerk">Merk</label>
                    </div>
                    <div class="form-label-group">
                            <input type="text" id="inputJenis" class="form-control" placeholder="Kategori" required>
                            <label for="inputJenis">Jenis</label>
                        </div>
                    <div class="form-label-group">
                            <input type="text" id="inputStatus" class="form-control" placeholder="Min Poin" required>
                            <label for="inputStatus">Status</label>
                    </div>
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputStasiun">Stasiun</label>
                    </div>
                    <select class="custom-select" id="inputStasiun">
                            <option selected>Choose...</option>
                            <option value="1">AAAA</option>
                            <option value="2">BBBB</option>
                    </select>
                     <div class="input-group-prepend">
                        <label class="input-group-text" for="inputPenyumbang">Penyumbang</label>
                    </div>
                    <select class="custom-select" id="inputPenyumbang">
                            <option selected>Choose...</option>
                            <option value="1">User1</option>
                            <option value="2">User2</option>
                    </select>
                  <div class="text-center">
                    <a href="/station/list/" class="btn btn-info" role="button">Submit</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}