{% extends 'base.html' %}
{% load static %}
{% block title %}Bike List{% endblock %}
{% block content %}
<link href="{% static 'css/bikes.css' %}" rel="stylesheet">

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5" >
            <h1>Bike(s)</h1>
                <div class="table-responsive">
                  <table id ="dtBasic" class="table text-center table-hover">
                    <thead>
                      <tr>
                        <th>Nomor</th>
                        <th>Merk</th>
                        <th>Jenis</th>
                        <th>Stasiun</th>
                        <th>Status</th>
                        <th>Penyumbang</th>
                          <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in sepeda %}
                        <tr>
                           <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                            <td>{{i.2}}</td>
                            <td>{{i.6}}</td>
                            {% if i.3 == False %}
                            <td>Tidak Tersedia</td>
                            {%else%}
                            <td> Tersedia </td>
                            {%endif%}
                            <td>{{i.5}}</td>
                            {% if request.session.role == "petugas" %}
                            <td>
                                <a href="/bikes/add/" class="btn btn-warning" role="button">Update</a>
                                <a href="/bikes/add/" class="btn btn-danger" role="button">Delete</a>
                            </td>
                            {% elif request.session.role == "anggota" %}
                            <td>
                                 {% if i.3 == False %}
                                <button class="btn btn-warning" disabled>Pinjam</button>
                                 {% else %}
                                <a class="btn btn-warning" role="button">Pinjam</a>
                                {%endif%}
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                </div>
        </div>
    </div>
</div>
{% endblock %}