{% extends 'base.html' %}
{% load static %}
{% block title %}Add Assignment{% endblock %}
{% block content %}
<link href="{% static 'css/addAssignment.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Assignment</h3>
                
                <form id="formAssignment" method="post">
                    <div class="form-label-group">
                      <select class="form-control custom-select" id="inputPetugas" name="petugas" required autofocus>
                        <option selected disabled="">Pilih Petugas</option>
                      </select>
                    </div>
                    <div class="form-label-group">
                      <input type="date" id="inputTanggalMulai" class="form-control" name="tanggalmulai" placeholder="Tanggal Mulai" required>
                      <label for="inputTanggalMulai">Tanggal Mulai</label>
                    </div>
                    <div class="form-label-group">
                      <input type="date" id="inputTanggalSelesai" class="form-control" name="tanggalselesai" placeholder="Tanggal Selesai" required>
                      <label for="inputTanggalSelesai">Tanggal Selesai</label>
                    </div>
        
                    <div class="form-label-group">
                      <select class="form-control custom-select" id="inputStasiun" name="stasiun" required>
                        <option selected disabled="">Pilih Stasiun</option>
                      </select>
                    </div>
                    <div class="form-label-group">            
                                   
                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" href="/penugasan/result/" type="submit">Submit</button>                     
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/add-assignment.js' %}"></script>
{% endblock %}
