{% extends 'base.html' %}
{% load static %}
{% block title %}Assignment Result{% endblock %}
{% block content %}
<link href="{% static 'css/resultAssignment.css' %}" rel="stylesheet"></link>

<div class="container">
    <div class="card border-0 shadow my-5 p-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <h1>LIST OF ASSIGNMENTS</h1> 
                </div>
                <div class="col-sm-3">
                    <input class="form-control" id="filterAssignment" type="text" placeholder="Cari..">
                    <br>
                </div>
                <br>
                <div class="col-sm-3">
                    <form id="formSortingAssignment" method="post">
                        <select class="form-control" id="sortingAssignment">
                            <option selected disabled>Pilih urutan</option>
                            <option value="ascending">Petugas (A-Z)</option>
                            <option value="descending">Petugas (Z-A)</option>
                        </select>
                    </form>
                </div>
                <br>
            </div>
            <div class="table-responsive"> 
              <table class = "table">
                <thead class="thead-dark text-center">
                  <tr>
                    <th>No</th>
                    <th>Petugas</th>
                    <th>Tanggal Mulai</th>
                    <th>Tanggal Selesai</th>
                    <th>Stasiun</th>
                    <th>Update</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody id="dataAssignment">

                <tbody>
              </table>
                <div id="loader" class="text-center">
                    <img class="mx-auto d-block" src="{% static 'img/loading.gif' %}">   
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/assignment-result.js' %}"></script>
{% endblock %}
