{% extends 'base.html' %}
{% load static %}
{% block title %}Voucher{% endblock %}
{% block content %}
<link href="{% static 'css/addVoucher.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container-fluid"> 
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">

                <h3 class="login-heading mb-4">Voucher</h3>
                
                <form id="formEvent" method="post">
                    <div class="form-label-group">
                        <input type="text" name="nama" id="inputNama" class="form-control" placeholder="Nama Voucher" required>
                        <label for="inputNama">Nama</label>
                    </div>

                    <div class="form-label-group">
                        <input type="text" name="kategori" id="inputKategori" class="form-control" placeholder="Kategori" required>
                        <label for="inputKategori">Kategori</label>
                    </div>

                    <div class="form-label-group">
                        <input type="text" name="poin" id="inputPoin" class="form-control" placeholder="Min Poin" required>
                        <label for="inputPoin">Nilai Poin</label>
                    </div>
        
                    <div class="form-label-group">
                        <input type="text" name="deskripsi" id="inputDeskripsi" class="form-control" placeholder="Deskripsi" required>
                        <label for="inputDeskripsi">Deskripsi</label>
                    </div>

                    <div class="form-label-group">
                        <input type="number" name="jumlah" id="inputJumlah" class="form-control" placeholder="Jumlah Voucher" required>
                        <label for="inputJumlah">Jumlah</label>
                    </div>

                    <button class="btn btn-lg btn-primary text-uppercase" href="/voucher/result/" type="submit">Submit</button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  var params = window.location.search;

  var getURLParams = function(params) {
      var id_param = params.slice(params.indexOf('=') + 1);
      $.ajax({
        url : "get-update-data/",
        dataType: "JSON",
        data: {
          'id_voucher': id_param,
        }
      });    
  }
  params = getURLParams(params);
  getAddVoucher();

});

var getAddVoucher = function(e){
    $("#formEvent").on('submit', function(event) {
        event.preventDefault(); 
        var nama = $('#inputNama').val();
        var kategori = $('#inputKategori').val();
        var poin = $('#inputPoin').val();
        var deskripsi = $('#inputDeskripsi').val();
        var jumlah = $('#inputJumlah').val();
        var params = window.location.search;
        var id_voucher = params.slice(params.indexOf('=') + 1);

        $.ajax({
            type : "POST",
            url : "post-voucher/",
            data : {
              'id_voucher': id_voucher,
              'nama': nama,
              'kategori': kategori,
              'poin': poin,
              'deskripsi': deskripsi,
              'jumlah': jumlah,
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response) {
                alert(response.messages)
                $("#inputNama").val("");
                $("#inputKategori").val("");
                $("#inputPoin").val("");
                $("#inputDeskripsi").val("");
                $("#inputJumlah").val("");
                window.location.href= "/voucher/result"
            },
        });
    });
};
</script>
{% endblock %}
