{% extends 'base.html' %}
{% load static %}
{% block title %}Voucher Result{% endblock %}
{% block content %}
<link href="{% static 'css/voucher.css' %}" rel="stylesheet"></link>

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5" >
            <h1>Voucher(s)</h1>
                <form id="formSortingEvent" method="post">
                    <select class="form-control" id="sortingEvent">
                        <option selected disabled>Pilih urutan</option>
                        <option value="ascending">A-Z</option>
                        <option value="descending">Z-A</option>
                    </select>
                </form><br><br>
                {% if request.session.role == "anggota" %}
                <div class="table-responsive"> 
                  <table class = "table ">
                    <thead>
                      <tr>
                        <th scope="col">No</th>
                        <th>Nama</th>
                        <th>Kategori</th>
                        <th>Nilai poin</th>
                        <th>Deskripsi</th>
                        <th>Status</th>
                      </tr>
                    </thead>

                    <tbody id="dataVoucher">

                    </tbody>
                  </table>
                </div>
                {% elif request.session.role == "petugas" %}
                <div class="table-responsive"> 
                  <table class = "table ">
                    <thead>
                      <tr>
                        <th>Nama</th>
                        <th>Kategori</th>
                        <th>Nilai poin</th>
                        <th>Deskripsi</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody id="dataVoucherItem">

                    </tbody>
                  </table>
                </div>
                {% endif %}

                <div class="pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script >
$(document).ready(function(){
    getAllVoucher();
    getAllVoucherItem();
});

var getAllVoucher = function(e) {
  $.ajax ({
      url: "get-voucher/",
      dataType: "JSON",
      success : function (response) {
          var data = "";
          for (var i = 1; i < response.length+1; i++) {
              if (response[i] != undefined) {
                  data += 
                    "<tr>" +
                    "<td scope='row'>" + i + "</td>" +
                    "<td scope='row'>" + response[i].nama + "</td>" +
                    "<td scope='row'>" + response[i].kategori + "</td>" +
                    "<td scope='row'>" + response[i].nilai_poin + "</td>" +
                    "<td scope='row'>" + response[i].deskripsi + "</td>" +
                    "<td scope='row'>" + "<button class='btn btn-success' onclick='claimEvent("+ response[i].id_voucher +")'>Claim</button></td>" +
                    "</tr>";
              }
          }
          $("#dataVoucher").html(data);
      }
  })
}

var claimEvent = function (id) {
  var getConfirm = confirm("Klaim voucher ini ?");
  if( getConfirm == true ) {
      $.ajax ({
          type: 'POST',
          url: 'claim-event/',
          data: {
              id: id,
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
              getAllVoucher();
              $(document).ready(function(){
                $(this).removeClass("btn btn-success");
                $(this).addClass("btn");
              });
              alert(response.messages)
          }
      })
      return true;
  } else {
      return false;
  }
};

var getAllVoucherItem = function(e) {
  $.ajax ({
      url: "get-voucher/",
      dataType: "JSON",
      success : function (response) {
          var data = "";
          for (var i = 1; i < response.length+1; i++) {
              if (response[i] != undefined) {
                  data += 
                    "<tr>" +
                    "<td scope='row'>" + i + "</td>" +
                    "<td scope='row'>" + response[i].nama + "</td>" +
                    "<td scope='row'>" + response[i].kategori + "</td>" +
                    "<td scope='row'>" + response[i].nilai_poin + "</td>" +
                    "<td scope='row'>" + response[i].deskripsi + "</td>" +
                    "<td scope='row'>" + "<button class='btn btn-primary' onclick='updateEvent("+ response[i].id_voucher +")'>Update</button></td>" +
                    "<td scope='row'>" + "<button class='btn btn-danger' onclick='deleteEvent("+ response[i].id_voucher +")'>Delete</button></td>" +
                    "</tr>";
              }
          }
          $("#dataVoucherItem").html(data);
      }
  })
}

var deleteEvent = function (id) {
  var getConfirm = confirm("Hapus voucher ini ?");
  if( getConfirm == true ) {
      $.ajax ({
          type: 'POST',
          url: 'delete-event/',
          data: {
              id: id,
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
              getAllVoucherItem();
              alert(response.messages)
          }
      })
      return true;
  } else {
      return false;
  }
};

var updateEvent = function (id) {
    $.ajax ({
      type: 'GET',
      url: "/voucher/add?id_voucher=" + id,
      data: {
          id: id,
      },
      success: function(response){
          window.location.href="/voucher/add?id_voucher=" + id;
      }
      
  })
};

$('#sortingEvent').on('change', function() {
  if ($("#sortingEvent").val() == "ascending") {
      $.ajax({
          url : "sort-asc/",
          dataType:"JSON",
          success : function (response) {
          var data = "";
          for (var i = 1; i < response.length+1; i++) {
              console.log(response);
              if (response[i] != undefined) {
                  data += 
                    "<tr>" +
                    "<td scope='row'>" + i + "</td>" +
                    "<td scope='row'>" + response[i].nama + "</td>" +
                    "<td scope='row'>" + response[i].kategori + "</td>" +
                    "<td scope='row'>" + response[i].nilai_poin + "</td>" +
                    "<td scope='row'>" + response[i].deskripsi + "</td>" +
                    "<td scope='row'>" + "<button class='btn btn-success' onclick='claimEvent("+ response[i].id_voucher +")'>Claim</button></td>" +
                    "</tr>";
              }
          }
          $("#dataVoucher").html(data);
          }
      });
  } else {
      $.ajax({
          url : "sort-desc/",
          dataType:"JSON",
          success : function (response) {
          var data = "";
          for (var i = 1; i < response.length+1; i++) {
              console.log(response);
              if (response[i] != undefined) {
                  data += 
                    "<tr>" +
                    "<td scope='row'>" + i + "</td>" +
                    "<td scope='row'>" + response[i].nama + "</td>" +
                    "<td scope='row'>" + response[i].kategori + "</td>" +
                    "<td scope='row'>" + response[i].nilai_poin + "</td>" +
                    "<td scope='row'>" + response[i].deskripsi + "</td>" +
                    "<td scope='row'>" + "<button class='btn btn-success' onclick='claimEvent("+ response[i].id_voucher +")'>Claim</button></td>" +
                    "</tr>";
              }
          }
          $("#dataVoucher").html(data);
          }
      });    
  }
});

$('#sortingEvent').on('change', function() {
  if ($("#sortingEvent").val() == "ascending") {
      $.ajax({
          url : "sort-asc/",
          dataType:"JSON",
          success : function (response) {
          var data = "";
          for (var i = 1; i < response.length+1; i++) {
              if (response[i] != undefined) {
                  data += 
                    "<tr>" +
                    "<td scope='row'>" + i + "</td>" +
                    "<td scope='row'>" + response[i].nama + "</td>" +
                    "<td scope='row'>" + response[i].kategori + "</td>" +
                    "<td scope='row'>" + response[i].nilai_poin + "</td>" +
                    "<td scope='row'>" + response[i].deskripsi + "</td>" +
                    "<td scope='row'>" + "<button class='btn btn-primary' onclick='updateEvent("+ response[i].id_voucher +")'>Update</button></td>" +
                    "<td scope='row'>" + "<button class='btn btn-danger' onclick='deleteEvent("+ response[i].id_voucher +")'>Delete</button></td>" +
                    "</tr>";
              }
          }
          $("#dataVoucherItem").html(data);
          }
      });
  } else {
      $.ajax({
          url : "sort-desc/",
          dataType:"JSON",
          success : function (response) {
          var data = "";
          for (var i = 1; i < response.length+1; i++) {
              if (response[i] != undefined) {
                  data += 
                    "<tr>" +
                    "<td scope='row'>" + i + "</td>" +
                    "<td scope='row'>" + response[i].nama + "</td>" +
                    "<td scope='row'>" + response[i].kategori + "</td>" +
                    "<td scope='row'>" + response[i].nilai_poin + "</td>" +
                    "<td scope='row'>" + response[i].deskripsi + "</td>" +
                    "<td scope='row'>" + "<button class='btn btn-primary' onclick='updateEvent("+ response[i].id_voucher +")'>Update</button></td>" +
                    "<td scope='row'>" + "<button class='btn btn-danger' onclick='deleteEvent("+ response[i].id_voucher +")'>Delete</button></td>" +
                    "</tr>";
              }
          }
          $("#dataVoucherItem").html(data);
          }
      });    
  }
});

</script>
{% endblock %}
