{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OurBike! Share | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{% static '/css/base.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
          <a class="navbar-brand mb-0 h1" href="/">OurBike!</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

			         {% if request.session.role == "anggota" %}

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Bikes
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/bikes/list/">List of Bikes</a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Stations
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/station/list/">List of Stations</a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Transaction
                  </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/transaksi/riwayat">History</a>
                    <a class="dropdown-item" href="/transaksi/topup">Top-Up Payment</a>
                    <a class="dropdown-item" href="/transaksi/rent">Hourly Rentals</a>
                    <a class="dropdown-item" href="/transaksi/riwayatRent">Rent History</a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Event
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/acara/result/">List of Event</a>
                  </div>
                </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Voucher
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/voucher/result/">List of Voucher</a>
                  </div>
              </li>

                <li class="nav-item">
                    <a class="nav-link" role="button" id="saldo" >
                      Saldo
                    </a>
                </li>

              <li class="nav-item">
                  <a class="button nav-link btn btn-primary btn-sm" role="button" style="color:white;"
                      href="/registrasi/logout/"><b>Logout</b></a>
              </li>
  
			  {% elif request.session.role == "petugas" %}

            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Renting
                  </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/transaksi/historyRent">Hourly Rentals</a>
              </div>
            </li>

            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Bikes
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/bikes/add/">Add Bikes</a>
                      <a class="dropdown-item" href="/bikes/list/">List of Bikes</a>
                  </div>
            </li>
            
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Stations
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/station/add/">Add Stations</a>
                      <a class="dropdown-item" href="/station/list/">List of Stations</a>
                  </div>
            </li>

            <li class="nav-item">
                  <a class="nav-link" href="/transaksi/laporan/" role="button" >
                    Report Lists
                  </a>
            </li>
         
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Assignment
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/penugasan/add/">Add Assignment</a>
                      <a class="dropdown-item" href="/penugasan/result/">List of Assignment</a>
                  </div>
            </li>

            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Event
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/acara/add/">Add Event</a>
                      <a class="dropdown-item" href="/acara/result/">List of Event</a>
                  </div>
            </li>

            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Voucher
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/voucher/add/">Add Voucher</a>
                      <a class="dropdown-item" href="/voucher/result/">List of Voucher</a>
                  </div>
            </li>

            <li class="nav-item">
                <a class="button nav-link btn btn-primary btn-sm" role="button" style="color:white;"
                    href="/registrasi/logout/"><b>Logout</b></a>
            </li>


              {% else %}
              
            <li class="nav-item">
                  <a class="button nav-link btn btn-primary btn-sm" style="color:white;"
                    href="/registrasi/login/"><b>Login</b></a>
            </li>

			    {% endif %}
            
            </ul>
          </div>
        </div>
      </nav>
{% block content %}
{% endblock %}

 <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
 <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

 <script>
  $(document).ready(function(){
    $.ajax(
        {
          url: "{% url 'getSaldo' %}",
          datatype: 'json',
          method:'POST',
          success: function(result){  
            $("#saldo").html(
              "Saldo: "+ result.currSaldo
            );
          }
        }
      )
    $('#dtBasic').DataTable();  
    $('.dataTables_length').addClass('bs-select');
    });
 </script>
 
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/js/mdb.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</body>
</html>
