{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}

  <link href="{% static '/css/home.css' %}" rel="stylesheet">

  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">A global perspective on bike-sharing <br>networks and urban commuting patterns worldwide.</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <a href="/registrasi/signup/"><button type="submit" class="btn btn-block btn-primary">Become a member</button></a>
        </div>
      </div>
    </div>
  </header>

  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">

        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class=" fas fa-bicycle m-auto text-primary"></i>
            </div>
            <h3>Tour De OurBike! Bicycle</h3>
            <p class="lead mb-0">OurBike! sets you free to explore city on two wheels of the best bicycle.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-money-check m-auto text-primary"></i>
            </div>
            <h3>Easy Payment</h3>
            <p class="lead mb-0">Top-up securely at anytime!</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Ride Safe</h3>
            <p class="lead mb-0">Follow the rules of the road. Obey traffic signs and signals and markings.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="showcase">
    <div class="container-fluid p-0">

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/riders.jpg');"> 
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Sign up or Login</h2>
          <p class="lead mb-0">Become a member of us and choose the payment option that works best for you.</p>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/img/bicycle-park.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Unlock a Bike</h2>
          <p class="lead mb-0">Scan the QR code on the bike. You can also reserve bikes.</p>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/roda.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Enjoy the Ride</h2>
          <p class="lead mb-0">Go anywhere you like with the bike and stop along the way.</p>
        </div>
      </div>

	    <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/img/return.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Return the Bike</h2>
          <p class="lead mb-0">When you've finished with the bike just return it to any of our hubs making sure that you stop your rental in the website.</p>
        </div>
      </div>

    </div>
  </section>

  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">OurBike! Sponsors</h2>
      <div class="row">

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/as.jpg' %}" alt="">
            <h5>Asunción, Paraguay</h5>
            <p class="font-weight-light mb-0">Municipal Bike Share</p>
          </div>
        </div>

        <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'img/tabor.jpg' %}" alt="">
              <h5>Tabor Academy</h5>
              <p class="font-weight-light mb-0">School/Campus Bike Share</p>
            </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/yosemite.jpg' %}" alt="">
            <h5>Yosemite National Park</h5>
            <p class="font-weight-light mb-0">Public Bike Rental</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/pruden.jpg' %}" alt="">
            <h5>Prudential Plaza</h5>
            <p class="font-weight-light mb-0">Tennant Bike Share</p>
          </div>
        </div>
        
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/nido.jpg' %}" alt="">
            <h5>Niido x Airbnb</h5>
            <p class="font-weight-light mb-0">Residential Amenity</p>
          </div>
        </div>
        
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/aspen.jpg' %}" alt="">
            <h5>Aspen Properties</h5>
            <p class="font-weight-light mb-0">Resident Amenity</p>
          </div>
        </div>
         
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/kiser.jpg' %}" alt="">
            <h5>Kaiser Permanente</h5>
            <p class="font-weight-light mb-0">OurBike! Community</p>
          </div>
        </div>
        
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/kity.jpg' %}" alt="">
            <h5>Kitty Hawk</h5>
            <p class="font-weight-light mb-0">Employee OurBike! </p>
          </div>
        </div>
      
      </div>
    </div>
  </section>

  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">For organic and evolving transit environments where custom, flexible solutions are integral to growth <br> OurBike! makes mobility flourish.</h2>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">

            <li class="list-inline-item">
              <a href="#">About</a>
            </li>

            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>

            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>

          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
 {% endblock %}