{% extends 'base.html' %}
{% load static %}
{% block title %}Add Station{% endblock %}
{% block content %}
<link href="{% static 'css/addStation.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Station</h3>
                
                <form>
                    <div class="form-label-group">
                        <input type="text" id="inputNama" class="form-control" placeholder="Nama" required autofocus>
                        <label for="inputNama">Nama Stasiun</label>
                    </div>
                    <div class="form-label-group">
                            <input type="text" id="inputAlamat" class="form-control" placeholder="Alamat" required>
                            <label for="inputAlamat">Alamat</label>
                        </div>
                    <div class="form-label-group">
                            <input type="text" id="inputLatitude" class="form-control" placeholder="Latitude" required>
                            <label for="inputLatitude">Latitude</label>
                    </div>
        
                    <div class="form-label-group">
                            <input type="text" id="inputLongitude" class="form-control" placeholder="Longitude" required>
                            <label for="inputLongitude">Longitude</label>
                    </div>
                                   
                  <div class="text-center">
                    <a href="/station/list/" class="btn btn-info" role="button">Submit</a>
                  </div>
                
                
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}