{% extends 'base.html' %}
{% load static %}
{% block title %}Station List{% endblock %}
{% block content %}
<link href="{% static 'css/station.css' %}" rel="stylesheet">

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5" >
            <h1>Station(s)</h1>
                <div class="table-responsive">
                  <table id ="dtBasic" class="table text-center table-hover">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Nama Stasiun</th>
                        <th>Alamat</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                          {% if request.session.role == "petugas" %}
                        <th>Action</th>
                          {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in stasiun %}
                        <tr>
                            <td>{{i.0}}</td>
                            <td>{{i.4}}</td>
                            <td>{{i.1}}</td>
                            <td>{{i.2}}</td>
                            <td>{{i.3}}</td>
                            {% if request.session.role == "petugas" %}
                            <td>
                                <a href="/station/add/" class="btn btn-warning" role="button">Update</a>
                                <a href="/station/add/" class="btn btn-danger" role="button">Delete</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                </div>
        </div>
    </div>
</div>
{% endblock %}